<ion-header>
  <ion-toolbar color="marron">
      <ion-buttons slot="start"> 
      <ion-menu-button color="orange"></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios" color="orange">FI'VIEW</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-sm>
                <div></div>
            </ion-col> 
                <ion-col size="12" size-sm> 
                <div>
                            <ion-list> 
                                <ion-item *ngFor="let facture of factures"> 
                                    <ion-icon slot="start" name="document-attach-outline"></ion-icon>
                                    <ion-label>
                                        <p>{{ facture.factureName }}</p>
                                        <p><a class="factureUrl" [href]="facture.factureUrl">Ouvrir le fichier</a></p>  
                                    </ion-label> 
                                </ion-item>
                            </ion-list>  
                </div>
            </ion-col>
            <ion-col size="12" size-sm>
                <div></div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
