<ion-header>
  <ion-toolbar color="marron">
      <ion-buttons slot="start" color="light">
      <ion-menu-button color="orange"></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios" color="orange">FI'VIEW</ion-title> 
  </ion-toolbar> 
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-sm>
                <div>
                </div>
            </ion-col>
            <ion-col size="12" size-sm> 
                <div> 
                    <br> 
                    <ion-list> 
                                <ion-item *ngFor="let file of files"> 
                                    <ion-icon slot="start" name="document-attach-outline"></ion-icon>
                                    <ion-label>
                                        <p>{{ file.fileName }}</p> 
                                        <p><a class="factureUrl" [href]="file.fileUrl">Ouvrir le fichier</a></p>
                                    </ion-label>
                                    <ion-button fill="clear" slot="end">
                                        <ion-icon color="orange" name="cloud-download-outline"></ion-icon>
                                    </ion-button>
                                </ion-item>
                            </ion-list> 
                </div>
            </ion-col>
            <ion-col size="12" size-sm>
                <div> 
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>