<ion-content>
        <ion-row>
            <ion-col size="12" size-sm>
                <div></div>
            </ion-col>
            <ion-col size="12" size-sm>
                <div>
                        <h1 style="text-align: center;">Connectez vous</h1> 
                    <br> 
                    <ion-item>
                        <ion-input [(ngModel)]="loginData.email" type="mail" placeholder="Entrez votre email" color="netflix-dark"></ion-input> 
                    </ion-item> 
                        <br>
                    <ion-item>
                        <ion-input [(ngModel)]="loginData.password" [type]="passwordType" placeholder="Enter your password" color="netflix-dark">
                        </ion-input>
                            <ion-icon (click)="togglePassword()" [name]="iconType"></ion-icon>
                    </ion-item> 
                    <ion-item lines="none">
                        <ion-label>
                            Rester connecté 
                        </ion-label> 
                        <ion-checkbox slot="end" mode="md" color="orange"></ion-checkbox>
                    </ion-item> 
                        <br> 
                    <ion-button mode="ios" color="orange" expand="block" (click)="login()">Connexion</ion-button>
                    <br> 
                    <br> 
                    </div> 
            </ion-col> 
            <ion-col size="12" size-sm>
                <div></div>
            </ion-col>
          </ion-row>
</ion-content>
