<ion-header>
  <ion-toolbar color="marron">
      <ion-buttons slot="start" color="light">
      <ion-menu-button color="orange"></ion-menu-button>
    </ion-buttons> 
    <ion-title mode="ios" color="orange">FI'VIEW</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content> 
  
    <ion-grid>
        <!-- *ngFor="let operation of operations" -->
        <ion-row *ngFor="let operation of operations">
            <ion-col size="12" size-sm>
                <div>
                    <ion-item lines="none">   
                            <ion-label position="stacked">Opérations</ion-label>
                            <ion-input readonly [(ngModel)]="operation.opx"></ion-input>  
                        </ion-item>
                </div>
            </ion-col>
            <ion-col size="12" size-sm> 
                <div>
                        <ion-item lines="none"> 
                            <ion-label position="stacked">Montant</ion-label>
                            <ion-input readonly [(ngModel)]="operation.montant"></ion-input>   
                        </ion-item>
                </div>
            </ion-col>
            <ion-col size="12" size-sm>
                <div> 
                    <ion-item [routerLink]="['/', 'formulaire', operation.operationKey]">
                        <ion-label position="stacked">Ordre</ion-label>
                            <ion-input readonly [(ngModel)]="operation.ordre" placeholder="Ajoutez un ordre"></ion-input>
                        </ion-item>
                </div>
            </ion-col>
            <ion-col> 
                <div size="12" size-sm> 
                    <ion-item [routerLink]="['/', 'formulaire', operation.operationKey]"> 
                            <ion-label position="stacked">Objet</ion-label>
                            <ion-input readonly [(ngModel)]="operation.objet" placeholder="Ajoutez un object"></ion-input>
                        </ion-item> 
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

