<ion-app>
    <ion-menu side="start">
    <ion-header>
      <ion-toolbar color="marron">
        <ion-title color="orange">Menu</ion-title> 
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home">Accueil</ion-item>
        <ion-item routerLink="/espace-client">Tableau de bord</ion-item>  
        <ion-item routerLink="/factures">Mes factures</ion-item> 
        <ion-item routerLink="/operation">Opérations à identifier</ion-item>  
        <ion-item routerLink="/monsuivifinancier">Mon Suivi Financier</ion-item> 
        <ion-item lines="none">
            <ion-button fill="clear" color="orange" (click)="logOut()"> 
                Se déconnecter 
            </ion-button>
        </ion-item>
      </ion-list>
    </ion-content> 
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
