<ion-content>
    <!--
    <ion-row>
        <ion-col size="12" size-sm>
            <div></div>
        </ion-col>
        <ion-col size="12" size-sm>
            <div>
                        <h1 style="text-align: center;">Creer un compte</h1>
                    <br> 
                    <ion-item>
                       <ion-input [(ngModel)]="signupData.name" placeholder="Entrez votre nom"></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input [(ngModel)]="signupData.email" type="mail" placeholder="Entrez votre email" color="netflix-dark"></ion-input> 
                    </ion-item> 
                        <br>
                    <ion-item>
                        <ion-input [(ngModel)]="signupData.password" [type]="passwordType" placeholder="Entrez votre mot de passe" color="netflix-dark"></ion-input>
                        <ion-icon (click)="togglePassword()" [name]="iconType"></ion-icon>
                    </ion-item>  
                        <br>  
                    <ion-button mode="ios" (click)="signup()" color="tertiary" expand="block">Inscription</ion-button>
                        <p style="text-align: center;">Vous avez deja un compte ?</p>  
                    <ion-button mode="ios" fill="clear" expand="block" color="success" routerLink="/login">Se connecter</ion-button>
                    <br>  
            </div>
        </ion-col>
        <ion-col size="12" size-sm>
            <div></div>
        </ion-col>
    </ion-row>
    -->
</ion-content>
