<ion-header>
  <ion-toolbar color="marron">
      <ion-buttons slot="start">
      <ion-menu-button color="orange"></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios" color="orange">FI'VIEW</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-sm>
                <div>
                </div>
            </ion-col>
            <ion-col size="12" size-sm> 
                <div>
                    <ion-list>
                        <ion-item lines="none">   
                            <ion-label position="stacked">Opérations</ion-label>
                            <ion-input readonly [(ngModel)]="formData.operation"></ion-input>  
                        </ion-item>
                        <ion-item lines="none"> 
                            <ion-label position="stacked">Montant</ion-label>
                            <ion-input readonly [(ngModel)]="formData.montant"></ion-input>   
                        </ion-item>
                        <ion-item>
                            <ion-input [(ngModel)]="formData.ordre" placeholder="Ordre"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input [(ngModel)]="formData.objet" placeholder="Objet"></ion-input>
                        </ion-item>
                        <br>
                        <ion-button (click)="updateForm()" fill="clear" expand="block">Mettre à jour 
                        <ion-icon slot="end" name="checkmark-outline"></ion-icon> 
                        </ion-button>  
                    </ion-list> 
                </div>
            </ion-col>
            <ion-col size="12" size-sm>
                <div> 
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
