<ion-header [translucent]="true">
        <ion-toolbar color="marron">  
                  <ion-title mode="md" color="orange" slot="start"> 
                      FI'VIEW
                    </ion-title>
                  <ion-button (click)="openPage()" slot="end" color="orange" mode="ios">Espace Client</ion-button>
        </ion-toolbar>  
</ion-header> 

<ion-content [fullscreen]="true">
        <ion-grid>
            <ion-row>
                <ion-col size="12" size-sm> 
                    <div class="headerbox">
                        <ion-text color="orange">
                            <h2> 
                                FI'VIEW
                            </h2> 
                        </ion-text>
                        <ion-text>
                            <h1>
                                Suivi financier de votre activité
                            </h1>  
                        </ion-text>
                        <br>
                        <ion-button class="buttonbox" mode="md" color="orange">En ligne</ion-button>
                        <ion-button class="buttonbox" mode="md" color="orange">Adapté à votre activité</ion-button>
                        <br> 
                        <br>
                        <br>
                        <ion-text>
                            <p><b>Gagnez du temps !</b></p>
                            <p>1. Connectez-vous</p>
                            <p>2. Suivez vos indicateurs</p>
                            <p>3. Prenez vos décisions</p> 
                        </ion-text>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <br>
        <br>
        <div class="footer">
            <ion-button mode="md" color="light" class="contactUs"> 
                Nous contacter
            </ion-button>
            <br>
            <ion-list>
                <ion-item lines="none"> 
                    <ion-icon color="light" slot="start" name="call-outline"></ion-icon> 
                    <ion-label color="light">+590 690 09 99 60</ion-label>
                </ion-item>
                <ion-item lines="none"> 
                    <ion-icon color="light" slot="start" name="mail-outline"></ion-icon>
                    <ion-label color="light">accueil@fiiartz.com</ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-label color="light">
                        <h4>FI'VIEW</h4>
                        <p>SAS Fiiartz</p>
                        <p>Siège social : Rue Nobel, Immeuble Oklahoma 97122 Baie-Mahault Guadeloupe</p>
                    </ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-label color="light"> 
                        <p>Merci d'adresser vos correspondances à l'adresse :</p> 
                        <p>38 rue Becquerel, Jarry, 97196 Baie-Mahault Guadeloupe.</p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </div>
</ion-content>



    