ion-list {
    --ion-background-color: transparent;
}

ion-item {
    --ion-background-color: transparent; 
}

.headerbox {
    text-align: center;
    padding-top: 60px; 
}

.buttonbox {
    height: 50px;  
}

.footer {
    padding: 20px; 
    background-color: black; 
}

.contactUs {
    height: 40px;
}