<ion-header>
  <ion-toolbar color="marron">
      <ion-buttons slot="start"> 
      <ion-menu-button color="orange"></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios" color="orange">FI'VIEW</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <br>
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-sm>
                <div>
                </div>
            </ion-col>
            <ion-col size="12" size-sm> 
                <div>
                    <ion-card mode="ios" class="cardbox">
                        <ion-list> 
                        <ion-list-header>
                            Tableau de bord 
                        </ion-list-header>
                        <ion-item routerLink="/factures" mode="ios">
                            <ion-label color="light">Mes factures</ion-label>
                        </ion-item>
                        <ion-item routerLink="/operation" mode="ios">
                            <ion-label color="light">Opérations à identifier</ion-label>
                        </ion-item>  
                        <ion-item routerLink="/monsuivifinancier" mode="ios">   
                            <ion-label color="light">Mon Suivi Financier</ion-label>   
                        </ion-item> 
                        <br> 
                    </ion-list>
                    </ion-card>
                </div>
            </ion-col>
            <ion-col size="12" size-sm>
                <div> 
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content> 